*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--white: 249 250 251;
	--black: 0 0 0;
	--gray: 190 190 190;
	--accent: 253 224 71;
	// --accent-dark: 250 204 21;

	/* Step -3: 12.35px → 9.22px */
	--fz-100: clamp(0.5763rem, 0.8529rem + -0.4323vw, 0.7719rem);
	/* Step -2: 13.18px → 11.52px */
	--fz-200: clamp(0.72rem, 0.8667rem + -0.2293vw, 0.8238rem);
	/* Step -1: 14.06px → 14.40px */
	--fz-300: clamp(0.8788rem, 0.8699rem + 0.047vw, 0.9rem);
	/* Step 0: 15.00px → 18.00px */
	--fz-400: clamp(0.9375rem, 0.8598rem + 0.4144vw, 1.125rem);
	/* Step 1: 16.01px → 22.50px */
	--fz-500: clamp(1.0006rem, 0.8325rem + 0.8964vw, 1.4063rem);
	/* Step 2: 17.08px → 28.13px */
	--fz-600: clamp(1.0675rem, 0.7813rem + 1.5262vw, 1.7581rem);
	/* Step 3: 18.22px → 35.16px */
	--fz-700: clamp(1.1388rem, 0.7rem + 2.3398vw, 2.1975rem);
	/* Step 4: 19.44px → 43.95px */
	--fz-800: clamp(1.215rem, 0.5802rem + 3.3854vw, 2.7469rem);
	/* Step 5: 20.74px → 54.93px */
	--fz-900: clamp(1.2963rem, 0.4108rem + 4.7224vw, 3.4331rem);
	/* Step 6: 22.13px → 68.66px */
	--fz-950: clamp(1.3831rem, 0.1781rem + 6.4268vw, 4.2913rem);

	--clamp: clamp(16rem, 100%, 62rem);
	--padding: 1.125rem;

	min-width: 20rem;

	::-webkit-scrollbar {
		width: 0.25rem;
	}

	::-webkit-scrollbar-track {
		background-color: rgb(var(--black));
	}

	::-webkit-scrollbar-thumb {
		background-color: rgb(var(--gray));
	}
}

body {
	color: rgb(var(--white));
	font-family: 'Outfit', sans-serif; // For Paragraph
	// font-family: 'Major Mono Display', monospace;  // For Accent
	font-size: var(--fz-400);
	background-color: rgb(var(--black));
}

.not-found {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 0.5rem;
	}

	h2 {
		font-size: var(--fz-600);
		font-weight: 700;

		span {
			color: rgb(var(--gray));

			&:nth-child(1) {
				margin-inline-end: 0.5em;
				padding-inline-end: 0.5em;
				border-inline-end: 0.125rem solid rgb(var(--gray));
			}
		}
	}

	p {
		align-self: end;

		a {
			color: inherit;
			font: inherit;
			font-size: var(--fz-300);
			text-decoration: none;
			transition: color 200ms ease-in-out;

			&:hover {
				color: rgb(var(--accent));
			}
		}
	}
}

.material-symbols-rounded {
	font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 200, 'opsz' 24;
}
